<% layout("/layouts/boilerplate") %>
<body style="background-color: rgb(50, 49, 49);">
    <div class="alert alert-dark mt-5" role="alert">
        <p><%= err.name %>...</p>
        <p><%= message %>...</p>
        <p><%= status %></p>
    </div>
</body>